.landing-page-jumbotron {
  background: #00897B;  
  background: -webkit-linear-gradient(to left, #134E5E , #00897B);
  background: linear-gradient(to left, #134E5E , #00897B); 
        
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
  h1 {
    font-family: sans-serif;
    font-weight: bolder
  }
}
